<!-- Front Range IT Landing page -->
<!-- Slider section -->
<div class="slider">
  <ul class="slides">
    <li>
      <img src="/assets/denver.jpg"> <!-- image 1 -->
      <div class="caption center-align">
        <h3>Front Range IT</h3>
        <h5>Denver area full-service onsite IT Support</h5>
        <br><br><br>
        <h1>720.463.4401</h1>
      </div>
    </li>
    <li>
      <img src="/assets/boulder.jpg"> <!-- image 2 -->
      <div class="caption right-align">
        <h3 class="valign">Serving the Boulder business community</h3>
        <h5 class="valign">We are local in Boulder too!</h5>
      </div>
    </li>
    <li>
      <img src="/assets/servers.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Business-grade Server Installation</h3>
        <h5>We handle all the hard stuff, so you don't have to.</h5>
      </div>
    </li>
    <li>
      <img src="/assets/switch.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Turn-key Business Networks</h3>
        <h5>Hire us to build your entire network, from wiring to switches.</h5>
      </div>
    </li>
  </ul>
</div>

<!-- Information table section -->
<div class="table-deal">
  <div class="row container">
    <div class="col s12 m6 l3">
      <div class="center promo">
        <a href="#infra_tab">
          <i class="material-icons cyan-text hoverable">dns</i>
        </a>
        <p class="table-caption">Infrastructure</p>
        <p class="light center">
          We manage the setup of your entire business network - from running Ethernet
          wiring to configuring servers. We'll make sure that your network and devices
          are running at their full potential.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="center promo promo-example">
        <a href="#security_tab">
          <i class="material-icons cyan-text hoverable">lock_outline</i>
        </a>
        <p class="table-caption">Security</p>
        <p class="light center">
          We know your data is important, and specialize in keeping it safe.
          Our team has years of experience with information security and will help
          you minimize risks to your network.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="center promo promo-example">
        <a href="#consulting_tab">
          <i class="material-icons cyan-text hoverable">accessibility</i>
        </a>
        <p class="table-caption">Consulting</p>
        <p class="light center">
          Whether you're planning a new project, looking to upgrade your
          hardware, or simply want us to take a look at your network - we'll help
          you make sure it's done right.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="center promo promo-example">
        <a href="#support_tab">
          <i class="material-icons cyan-text hoverable">build</i>
        </a>
        <p class="table-caption">Support</p>
        <p class="light center">
          Do you need onsite Business IT Support?  We specialize in solving your
          hardware and software problems, whatever they are.  Let our
          years of onsite IT support experience help you! 
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Horizontal info section -->
<div class="blue-grey darken-4 white-text local-dev">
  <div class="row container">
    <div class="col s12 center-align">
      <h4>Denver / Boulder full-service IT experts</h4>
      <p style="margin: 2em 0;">
        <a class="btn cyan waves-effect waves-light" href="#infra_tab">
          Learn more
          <i class="material-icons right">send</i>
        </a>
      </p>
      <p style="font-size: 1.33em;">
        Front Range IT offers the most comprehensive set of IT solutions in Colorado
      </p>
      <p style="font-size: 1.33em;">
        From planning to support
      </p>
    </div>
  </div>
</div>

<!-- Parallax section 1 -->
<div class="splash2 parallax-container valign-wrapper" style="margin-bottom: 0;">
  <div class="row container">
    <div class="col s12">
      <div class="parallax">
        <%= image_tag('switch.jpg', :alt => "Network Switch") %>
      </div>
      <h1 class="white-text center valign">
        Ethernet Wiring<br>
        &<br>
        Switches
      </h1>
      <h3 class="light grey-text text-lighten-3 center">
        We provide turn-key infrastructure solutions
      </h3>
    </div>
  </div>
</div>

<!-- Pop-out table Section / scrollspy destination-->
<!-- Infrastructure Section -->
<div class="infrastructure scrollspy" id="infra_tab">
  <div class="row container valign-wrapper" style="margin-bottom: 0;">
    <div class="col l1 m4 s6 valign offset-l2">
        <img class="svg-image valign" src="/assets/infrastructure.svg" style="width: 100px;">
    </div>
    <div class="col l6 m8 s12 left-align offset-l1" style="padding: 1em 0;">
      <h4>Infrastructure</h4>
      <blockquote>
      <p>
        The computer network is the beating heart of any business.<br>
        Without internet access and file sharing few teams can function.<br>
        Front Range IT are experts in setting up new networks and in 
        diagnosing and repairing broken ones.<br>
      </p>
      </blockquote>
    </div>
  </div>
</div>

<!-- Security Section -->
<div class="security blue-grey lighten-5 scrollspy" id="security_tab">
  <div class="row container valign-wrapper" style="margin-bottom: 0;">
    <div class="col m7 s12 left-align offset-l2" style="padding: 1em 0;">
      <h4>Security</h4>
      <blockquote>
      <p>
      Security is more important than ever in today's threat-filled Internet environment.<br>
      When all of your documents and applications are living on the cloud...are you sure your
      data is safe?<br>
      Front Range IT thinks about security from square one, so that you don't have to.  We
      will perform security audits on your network, and show you why installation of a security appliance
      like a Cisco brand Firewall will protect your business.<br>
      </p>
      </blockquote>
    </div>
    <div class="col m4 s6 valign">
      <img class="svg-image valign" src="/assets/security.svg" style="width: 100px;">
    </div>
  </div>
</div>

<!-- Consulting section -->
<div class="consulting blue-grey lighten-4 scrollspy" id="consulting_tab">
  <div class="row container valign-wrapper" style="margin-bottom: 0;">
    <div class="col l1 m4 s6 valign offset-l2">
      <img class="valign" src="/assets/handshake.png" style="width: 100px;">
    </div>
    <div class="col l6 m8 s12 left-align offset-l1" style="padding: 1em 0;">
      <h4>Consulting</h4>
      <blockquote>
      <p>
      Front Range IT has over a decade of Business IT support and infrastructure experience, and we want to share that
      knowledge with you!<br>
      We provide consultation services ranging from documentation of your IT environment with same-day report delivery, to 
      large-scale planning for new build-outs or multi-location offices.
      <br />
      </p>
      </blockquote>
    </div>
  </div>
</div>

<!-- Support Section -->
<div class="support blue-grey lighten-3 scrollspy" id="support_tab">
  <div class="row container valign-wrapper" style="margin-bottom: 0;">
    <div class="col m7 s12 left-align offset-l2" style="padding: 1em 0;">
      <h4>Support</h4>
      <blockquote>
      <p>
      Do you need onsite IT support personnel?<br>
      Our techs are knowledgeable and friendly - We are not your typical nerdy IT guys!<br>
      Whether you need us for an hour or a day, our techs will be there to help you in person.<br>
      Front Range IT offers both onsite and remote support, but we believe that in-person support is usually the
      best way to solve your computer problems.<br>
      </p>
      </blockquote>
    </div>
    <div class="col m4 s6 valign">
      <img class="svg-image valign" src="/assets/support.png" style="width: 100px;">
    </div>
  </div>
</div>

<!-- Icon Table Section -->
<div>
  <div class="row container icon-table">
    
    <div class="col m1">
      <i class="material-icons cyan-text">attach_money</i>
    </div>
    <div class="col m5 s12">
      <span>Cost Effective</span>
      Our pricing scheme is simple:<br>
      $90 / hour for IT support<br>
      $65 / hour for wiring jobs
    </div>

    <div class="col m1">
      <i class="material-icons cyan-text">room</i>
    </div>
    <div class="col m5">
      <span>Local</span>
      You live in Colorado, and so do we!<br>
      With team members in both Denver and Boulder, Front Range IT is ready to service your IT needs quickly.
    </div>
  </div>
  
  <div class="row container icon-table">
    <div class="col m1">
      <i class="material-icons cyan-text">trending_up</i>
    </div>
    <div class="col m5">
      <span>Project Management</span>
      Wrapping your mind around IT needs can be intimidating.<br>
      We know all the vendors and technologies, and can quote a solution which is properly scaled for your unique business.<br>
    </div>

    <div class="col m1">
      <i class="material-icons cyan-text">desktop_windows</i>
    </div>
    <div class="col m5">
      <span>Computer Support</span>
      Computers and software break, and when they do - we are here!<br>
      We specialize in Microsoft Windows PCs, but also support Apple and Linux computers.
    </div>
  </div>
  
  <div class="row container icon-table">
    <div class="col m1">
      <i class="material-icons cyan-text">vpn_key</i>
    </div>
    <div class="col m5">
      <span>Security Audits</span>
      Your business is your livelihood - make sure it is secure.<br>
      Our security audits use proprietary penetration testing of your network to find any weaknesses.<br>
      After we find the holes, we will also help you patch them.
    </div>

    <div class="col m1">
      <i class="material-icons cyan-text">add_to_queue</i>
    </div>
    <div class="col m5">
      <span>New Computers</span>
      If your computers are over 5 years old, new computers should be a part of your IT budget.<br>
      Faster computers vastly improve employee efficiency, and reduce frustration.<br>
      Front Range IT offers both Dell brand PC computers, and custom "Front Range IT" built workstations.<br>
      <a href="/workstations">Check out our desktop workstation options here!</a><br>
    </div>
  </div>
  
</div>

<!-- Parallax section 2 -->
<div class="splash1 parallax-container valign-wrapper">
  <div class="row container">
    <div class="col s12">
      <div class="parallax">
        <%= image_tag('servers.jpg', :alt => "Network Switch") %>
      </div>
      <h1 class="white-text center valign">
        Servers<br>
        &<br>
        Workstations
      </h1>
      <h3 class="light grey-text text-lighten-3 center">
        We assess your needs, and give you flexible options to meet your IT goals
      </h3>
    </div>
  </div>
</div>
