
<!-- nav brad -->
<nav class="blue-grey darken-3">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">
      Front Range IT <%= image_tag('logo.png', size: "35x35", class: "logoimage") %>
    </a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down" id="nav-full">
    <!-- navbar full size view -->
      <li><a href="#infra_tab" class="active">Networks</a></li>
      <li><a href="#security_tab">Security</a></li>
      <li><a href="#consulting_tab">Consulting</a></li>
      <li><a href="#about_time">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <!-- sidenav collapsed view -->
    <ul class="side-nav" id="nav-mobile">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>

<div class="splash1 parallax-container">
  <div class="row container">
    <div class="col s12">
      <div class="parallax">
        <%= image_tag('servers.jpg', :alt => "Network Switch") %>
        </div>
    </div>
  </div>
</div>

<div class="table-deal">
  <div class="row container">
    <div class="col s12 m6 l3">
      <div class="center promo">
        <i class="material-icons cyan-text">dns</i>
        <p class="table-caption">Networks</p>
        <p class="light center">
          We manage the setup of your entire network - from running ethernet
          lines to configuring servers. We'll make sure that your network and devices
          are running at their full potential.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="center promo promo-example">
        <i class="material-icons cyan-text">lock_outline</i>
        <p class="table-caption">Security</p>
        <p class="light center">
          We know your data is important, and specialize in keping it safe.
          Our team has years of experience with information security and will help
          you minimize risks to your network.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="center promo promo-example">
        <i class="material-icons cyan-text">playlist_add_check</i>
        <p class="table-caption">Consulting</p>
        <p class="light center">
          Whether you're planning a new project, looking in to upgrading your
          hardware, or simply want us to take a look at your network, we'll help
          you make sure it's done right.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="center promo promo-example">
        <i class="material-icons cyan-text">build</i>
        <p class="table-caption">Support</p>
        <p class="light center">
          Each of our clients receive a login to our support system to ensure a
          timely response. Just file a ticket with us and we'll get back to you
          ASAP. Simple as that.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="blue-grey darken-4 white-text local-dev">
  <div class="row container">
    <div class="col s12 center-align">
      <h4>Denver / Boulder full-service IT experts</h4>
      <p style="margin: 2em 0;">
        <button class="btn cyan waves-effect waves-light" type="submit" name="action">
          Learn more
          <i class="material-icons right">send</i>
        </button>
      </p>
      <p style="font-size: 1.33em;">
        Front Range IT offers the most comprehensive set of IT solutions in Colorado
      </p>
      <p style="font-size: 1.33em;">
        From planning to support
      </p>
    </div>
  </div>
</div>

<div class="splash2 parallax-container">
  <div class="row container">
    <div class="col s12">
      <div class="parallax">
        <%= image_tag('switch.jpg', :alt => "Network Switch") %>
      </div>
    </div>
  </div>
</div>

<div class="infrastructure scrollspy" id="infra_tab">
  <div class="row container valign-wrapper">
    <div class="col m2 offset-m2 s12 left-align valign" style="padding: 1em 0;">
      <img class="svg-image valign" src="/assets/infrastructure.svg" style="width: 128px;">
    </div>
    <div class="col m8 s12">
      <h4>Network Infrastructure</h4>
      Who knows why Brad is such a bad Brad. My guess is it started early. The thing is, guys crazy like Brad were always brought up fucked.
      So, like, I don't <i>exactly</i> know what his problem is, but he is a craymuffin. We know that. We can trust in that. Allahu Akbrad.
    </div>
  </div><!-- end cointainer row valign... -->
</div>

<div class="security blue-grey lighten-5 scrollspy" id="security_tab">
  <div class="row container valign-wrapper" style="margin-bottom: 0;">
    <div class="col m7 s12 right-align" style="padding: 1em 0;">
      <h4>Security</h4>
      Slow-carb four loko readymade poutine. Seitan truffaut sartorial mlkshk. +1 raw denim mumblecore lumbersexual mlkshk viral. Drinking vinegar
      whatever locavore kickstarter. Craft beer photo booth tousled lomo drinking vinegar, green juice biodiesel.
    </div>
    <div class="col m4 s12 valign">
      <img class="svg-image valign" src="/assets/security.svg" style="width: 128px;">
    </div>
  </div><!-- end cointainer row valign... -->
</div>

<div class="consulting blue-grey lighten-4 scrollspy" id="consulting_tab">
  <div class="row container valign-wrapper" style="margin-bottom: 0;">
    <div class="col m2 offset-m2 s12 left-align valign" style="padding: 1em 0;">
      <img class="svg-image valign" src="/assets/handshake3.png" style="width: 128px;">
    </div>
    <div class="col m8 s12">
      <h4>Consulting</h4>
      Photo booth shoreditch master cleanse, crucifix ramps fashion axe biodiesel. Offal salvia DIY umami, green juice actually 3 wolf moon
      jean shorts YOLO thundercats. Disrupt food truck keytar pug, irony try-hard four loko single-origin coffee narwhal kinfolk put a bird
      on it tofu. Fanny pack green juice banh mi craft beer single-origin coffee!
      <br /><br />
    </div>
  </div><!-- end cointainer row valign... -->
</div>

<div>
  <div class="row container icon-table">
    <div class="col m1">
      <i class="material-icons cyan-text">done_all</i>
    </div>
    <div class="col m5 s12">
      <span>Reliable</span>
      Hey brad what it dad.
      Photo booth shoreditch master cleanse, crucifix ramps fashion axe biodiesel. Offal salvia DIY umami, green juice actually 3 wolf moon jean shorts YOLO thundercats.
    </div>

    <div class="col m1">
      <i class="material-icons cyan-text">room</i>
    </div>
    <div class="col m5">
      <span>Local</span>
      Hey brad what it dad.
      Photo booth shoreditch master cleanse, crucifix ramps fashion axe biodiesel. Offal salvia DIY umami, green juice actually 3 wolf moon jean shorts YOLO thundercats.
    </div>

    <div class="col m1">
      <i class="material-icons cyan-text">trending_up</i>
    </div>
    <div class="col m5">
      <span>Project Management</span>
      Hey brad what it dad.
      Photo booth shoreditch master cleanse, crucifix ramps fashion axe biodiesel. Offal salvia DIY umami, green juice actually 3 wolf moon jean shorts YOLO thundercats.
    </div>

    <div class="col m1">
      <i class="material-icons cyan-text">desktop_windows</i>
    </div>
    <div class="col m5">
      <span>Device Support</span>
      Hey brad what it dad.
      Photo booth shoreditch master cleanse, crucifix ramps fashion axe biodiesel. Offal salvia DIY umami, green juice actually 3 wolf moon jean shorts YOLO thundercats.
    </div>

    <div class="col m1">
      <i class="material-icons cyan-text">vpn_key</i>
    </div>
    <div class="col m5">
      <span>Security Audits</span>
      Hey brad what it dad.
      Photo booth shoreditch master cleanse, crucifix ramps fashion axe biodiesel. Offal salvia DIY umami, green juice actually 3 wolf moon jean shorts YOLO thundercats.
    </div>

    <div class="col m1">
      <i class="material-icons cyan-text">people_outline</i>
    </div>
    <div class="col m5">
      <span>Professional Help</span>
      Hey brad what it dad.
      Photo booth shoreditch master cleanse, crucifix ramps fashion axe biodiesel. Offal salvia DIY umami, green juice actually 3 wolf moon jean shorts YOLO thundercats.
    </div>

  </div>
</div>

<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 scrollspy" id="about_tab">
        <h5 class="grey-text text-lighten-2">About Us</h5>
        <p class="grey-text text-lighten-2">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="grey-text text-lighten-2">Links</h5>
        <ul>
          <li><a class="cyan-text" href="#!">Infrastructure</a></li>
          <li><a class="cyan-text" href="#!">Security</a></li>
          <li><a class="cyan-text" href="#!">Consulting</a></li>
          <li><a class="cyan-text" href="#!">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container">
      <a class="grey-text text-lighten-3 right" style="font-size: .66em;" href="https://wreet.co">
        Powered by wreetco
        &nbsp;
        <img src="https://wreet.co/assets/wreetco_icon_alt.png" style="width: 2.5em; position: relative; top: 1em;" />
      </a>
    </div>
  </div>
</footer>

<script>
 		$(document).ready(function(){
   			// Activate the side menu 
   			$(".button-collapse").sideNav({
   			  menuWidth: 150,
   			  edge: 'left'
   			});
  		});
	</script>