<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center-align cyan-text">Remote Support</h1>
        <div class="row center">
            <h5 class="header col s12 light center">
            You must be a current client of Front Range IT to use this service.<br>
            Give us a call at 720.463.4401 to get started.<br>
            </h5>
        </div>
        <div class="row center">
            <a href="https://www.teamviewer.com/en/" id="download-button" class="btn-large waves-effect waves-light cyan">CLICK HERE FOR REMOTE SUPPORT</a>
        </div>
    </div>
</div>
