
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center cyan-text">Front Range IT Workstations</h1>
        <div class="row center">
            <h5 class="header col s12 light">Dell brand and custom workstation solutions</h5>
        </div>
        <div class="row center">
            <img src="/assets/logo.png" class="responsive-img">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col l10 offset-l1 flow-text">
            We know that your business has unique computer needs and budget requirements,
            so we don't shoehorn you into a single "recommended system" like other IT vendors do.
        </div>
    </div>
</div>
<div class="row container">
    
    <div class="col l6 s12 m6">
      <div class="card blue-grey darken-4">
        <div class="card-content white-text">
          <span class="card-title cyan-text">Custom PCs</span>
            <p>
                We have designed 2 different systems to meet budget-conscious needs, and since we hand build them
                we can offer them to our clients at a great price!<br>
                We also offer a choice of operating systems:
                <ul>
                    <li class="center-align">Windows 7/8/10</li>
                    <li class="center-align">Linux (saves you $130 per computer!)</li>
                </ul>
            </p>
        </div>
      </div>
    </div>
    
    <div class="col l6 s12 m6">
      <div class="card blue-grey darken-4">
        <div class="card-content white-text">
          <span class="card-title cyan-text">Dell PCs</span>
            <p>
                It you prefer a computer with a warranty from a name brand, we also offer great computers from Dell.<br>
                Any new Dell desktop will come with a 3 year parts warranty from Dell (does not apply to refurbished models).
            </p>
        </div>
      </div>
    </div>
    
</div>
<br><br>