
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center cyan-text">Front Range IT Workstations</h1>
        <div class="row center">
            <h5 class="header col s12 light">Dell brand and cusom workstation solutions</h5>
        </div>
        <div class="row center">
            <img src="/assets/logo.png" class="responsive-img">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col l10 offset-l1 flow-text">
            <ul>
                <li>
                    Front Range IT knows that all businesses have different computer needs and budgets,
                    so we don't try to shoehorn you into a single "recommended system" like other IT vendors do.
                </li>
                <li>
                    We have designed 2 different systems to meet budget-conscious needs, and since we hand build them
                    we can offer them to our clients at a great price!
                </li>
                <li>
                    It you prefer a computer with a warranty from a name brand, we also offer great computers from Dell.<br>
                    Any new Dell desktop will come with a 3 year parts warranty from Dell (does not apply to refurbished models).
                </li>
            </ul>
        </div>
    </div>
</div>
