    <div class="col m1">
      <i class="material-icons cyan-text">add_to_queue</i>
    </div>
    <div class="col m5">
      <span>New Computers</span>
      Front Range IT knows that all businesses have different computer needs and budgets,
      so we don't try to shoehorn you into a single "recommended system" like other IT vendors do.<br>
      We have designed 2 different systems to meet budget-conscious needs, and since we hand build them
      we can offer them to our clients at a great price.<br>
      <a href="/workstations">Check out our custom desktop workstations!</a><br>
      It you prefer a computer with a warranty from a name brand, we also offer great computers from Dell.<br>
      Any new Dell desktop will come with a 3 year parts warranty from Dell (does not apply to refurbished models).
      
    </div>
  </div>
  
</div>