<h1 class="text-align center"> About Front Range IT </h1>
<h3>
    Are you moving into a new building and need your 
    network closet moved?  Starting a new business and 
    need a complete network infrastructure?  We have 
    experience building networks from scratch, and will 
    handle everything including sourcing components, 
    physical installation, configuration, and ongoing 
    support!
</h3>