<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center cyan-text">Contact Front Range IT</h1>
        <div class="row center">
            <h5 class="header col s12 light">Denver & Boulder area Business IT support team</h5>
        </div>
        <div class="row center">
            <img src="/assets/logo.png" class="responsive-img">
        </div>
    </div>
</div>

<div class="container">
    <div class="row center">
        <div class="col s12 m12">
            <p class="flow-text">
                Please use the <strong>contact form</strong> below to get in touch, and we will reply as soon as possible!
            </p>
        </div>
    </div>
</div>

<div class="container fade-in" style="display: block; opacity: 1;">
    <div class="section resources">
        <div class="row">
            <div class="col s12 m4">
                <p>
                    Do you need IT services, have a question or comment? Please feel free to send us an email or fill in this handy contact form.
                    Our goal is to reply within 24 hours.
                </p>
                <p>
                    P: <a href="tel:+3034634401" class="cyan-text accent-2">303.463.4401</a><br>
                    E: <a href="mailto:support@frontrangeit.co" class="cyan-text accent-2">support@frontrangeit.co</a><br>
                </p>
            </div>
            <div class="col s12 m8 indigo-text"> 
              <form id="contactForm" novalidate="novalidate">
                <div class="input-field">
                  <input type="text" name="name" required="" data-schema-key="name" maxlength="50">
                  <label for="name">Name</label>
                </div>
                <div class="input-field">
                  <input type="text" name="email" required="" data-schema-key="email">
                  <label for="email">Email</label>
                </div>
                <div class="input-field">
                  <input type="text" name="subject" data-schema-key="subject">
                  <label for="subject">Subject</label>
                </div>
                <div class="input-field">
                  <textarea name="message" rows="5" required="" data-schema-key="message" maxlength="1000" class="materialize-textarea"></textarea>
                  <label for="message">Message</label>
                </div>
                <div class="row">
                  <div class="col s12">
                    <button class="waves-effect waves-light cyan btn">
                        Send <i class="mdi-content-send right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
