.nogut {
  padding: 0 !important;
  margin: 0 !important;
}

.debug {
  border: 1px solid red;
}

nav {
  text-transform: uppercase;
  font-weight: 300;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav ul a {
   color: #cfd8dc;
}

nav ul .active {
  border-bottom: 2px solid #00bcd4;
}

.logoimage {
  position: absolute;
  left: 260px;
  top: 14px;
}

.splash1 {
  margin-top: 64px;
  margin-bottom: 35px;
}

.splash2 {
  min-height: 50vh;
  margin-bottom: 35px;
}

.parallax-container {
  min-height: 66vh;
}

.table-deal .table-caption {
  font-size: 2em;
  margin-bottom: 0 !important;
  margin-top: 0.5em !important;
}

.table-deal i {
  font-size: 5em;
}

.local-dev {
  padding: 2em 0;
}

.local-dev p {
  margin: 0;
}

.local-dev h4 {
  margin: 0 !important;
}

.local-dev .row {
  margin-bottom: 0 !important;
}

.infrastructure h4 {
  //margin: 0 !important;
}

.icon-table span {
  display: block;
  font-weight: bold;
}

.icon-table .m1 {
  text-align: center;
}

.icon-table .m1 i {
  font-size: 3em;
}

.icon-table .col {
  margin-top: 2em;
}

footer h5 {
  text-transform: uppercase;
  font-weight: 300;
}

@media only screen and (min-width:993px) {

}

@media only screen and (min-width:601px) {

}

@media only screen and (max-width: 600px) {

}